
@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <form action="/Admin/Subject/Create" method="post">
                        <input type="text" name="Name" />
                        <input type="text" name="RegistrationOpen" />
                        
                        <input type="submit" value="Add" />
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>